---
services:
  sut:
    build:
      context: .
      dockerfile: Dockerfile
    command: |
      sh -c '
        set -euo pipefail
        # Use $$ to prevent interpolation 
        if [ $$(id -u) -ne 1000 ]; then
          exit 1
        fi
        awk --version # gawk
        base64 --version # coreutils
        csvsql --version # csvkit
        curl --version # curl
        dasel --version # dasel
        echo | npx prettyjson # prettyjson
        git --version # git
        grep --version # grep
        jf -v # jsonfmt
        jp --version # jp
        npx jsonpath-plus <(echo '{}') / # jsonpath-plus
        jq --version # jq
        npx jslint --version # jslint
        npx jsonlint --help # jsonlint
        mlr --version # miller
        npm --version # npm
        openssl --version # openssl
        pandoc --version # pandoc
        pip --version # py3-pip
        pipx --version # pipx
        npx prettier --version # prettier
        python --version # python3
        remarshal --version # remarshal
        npx v8r --version # v8r
      '
