---
name: Pipx Check Versions

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

defaults:
  run:
    working-directory: json

jobs:
  npm-check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14
      - name: Check outdated dependencies
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          if pipx upgrade-all --global | tee -a /dev/stderr | grep -q -e "^upgraded " ; then
            exit 1
          fi
